body{
   background-color: gainsboro;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    text-align: center;
}
.content{
    display: block;
}
.heading{
background-color: rgb(102, 170, 80);
border-radius: 0px;
padding: 10px;
opacity: 0.9;
}
.heading a{
    text-decoration: none;
    margin: 50px auto;

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
}

.main{
    background-color: rgb(162, 203, 148);
    opacity: 0.9;
    border-radius: 0px;
    padding: 20px;
    margin: 10px auto;
     margin-top: 0px;
     margin-bottom: 0px;
   /* width: 95%;*/
}
img{
    width: 400px;
    height: 300px;
    border-radius: 20px;
}
.footer{
    background-color: rgb(102, 170, 80);
    border-radius: 0px;
    padding: 10px;
    margin: 10px auto;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    opacity: 0.9;
}
a:hover{
    color: aliceblue;
}
.project{
    display: flex;
    gap: 20px;
}
.implementationPhase, .designPhase{
    background-color: rgb(104, 123, 97);
    border-radius: 10px;
    padding: 10px;
    color:azure;
}
